<!--<table border="1px">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="producto : ${productos}">
            <td><span th:text="${producto.nombre}" /></td>
            <td>
                <a th:href="@{/producto/{id}(id=${producto.id})}">Ver</a>
            </td>
        </tr>
    </tbody>
</table>
<a href="/producto/new">Crear nuevo producto</a> HASTA ACA FUNCIONA-->

<table border="1px">
    <thead>
        <tr>
			<th>Codigo</th>
            <th>Nombre</th>
			<th>Descripcion</th>
			<th>Costo</th>
			<th>Precio de venta</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="producto : ${productos}">
			<td><span th:text="${producto.codigo}" /></td>
            <td><span th:text="${producto.nombre}" /></td>
			<td><span th:text="${producto.descripcion}" /></td>
			<td><span th:text="${producto.costo}" /></td>
			<td><span th:text="${producto.precioDeVenta}" /></td>
            <td>
                <a th:href="@{/producto/{id}(id=${producto.id})}">Editar/Borrar</a>
            </td>
        </tr>
    </tbody>
</table>
<a href="/producto/new">Crear nuevo producto</a> 



