<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informe de Stock</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

	<style>
		body {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
		}
	
		footer {
			margin-top: auto;
		}
	</style>

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/index">INICIO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Admin</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAdmin">
							<a class="dropdown-item" href="/stock/alta">Dar de alta Lote</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/producto">CRUD Producto</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/informe/informes1">Informes</a> <!-- Listado de informes -->
					
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> User <span th:text="${username}" /></a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
							<a class="dropdown-item" href="/compras/nueva">Comprar</a>
							<div class="dropdown-divider"></div>
							<form th:action="@{/logout}" method="post">
								<input class="dropdown-item" type="submit" value="Logout" style="cursor: pointer;">
							</form>
						</div>
					</li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->

    <div class="container" style="margin-top: 80px;"> <!-- Agregamos mt-5 aquí -->

        <h1 class="my-4">Informe de Stock de Productos</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Costo</th>
                    <th>Precio de Venta</th>
                    <th>Cantidad en Stock</th>
                    <th>Stock Mínimo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stock : ${stocks}">
                    <td th:text="${stock.idStock}"></td>
                    <td th:text="${stock.producto.nombre}"></td>
                    <td th:text="${stock.producto.descripcion}"></td>
                    <td th:text="${stock.producto.costo}"></td>
                    <td th:text="${stock.producto.precioDeVenta}"></td>
                    <td th:text="${stock.cantidad}"></td>
                    <td th:text="${stock.minimoStock}"></td>
                </tr>
            </tbody>
        </table>
    </div>

	
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Grupo-22-OO2 2024</p>
		</div>
	</footer>


    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
