<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Realizar Compra</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/index">INICIO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> User <span th:text="${username}" /></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <div class="dropdown-divider"></div>
                            <form th:action="@{/logout}" method="post">
                                <input class="dropdown-item" type="submit" value="Logout" style="cursor: pointer;">
                            </form>
                            <a class="dropdown-item" href="/producto">CRUD Producto</a>
							<a class="dropdown-item" href="/stock/alta">Dar de alta Lote</a>
							<a class="dropdown-item" href="/compras/nueva">Comprar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container my-5">
        <h1 class="my-4">Realizar Compra</h1>
        <form action="/compras/realizar" method="post">
            <div class="form-group">
                <label for="userId">User ID:</label>
                <input type="number" class="form-control" id="userId" name="userId" required>
            </div>
            <div class="form-group">
                <label for="productosIds">Productos:</label>
                <select multiple class="form-control" id="productosIds" name="productosIds" required>
                    <option th:each="producto : ${productos}" th:value="${producto.id}" th:text="${producto.nombre}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="cantidades">Cantidades:</label>
                <input type="text" class="form-control" id="cantidades" name="cantidades" placeholder="Separar por comas las cantidades" required>
            </div>
            <button type="submit" class="btn btn-primary">Comprar</button>
        </form>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
